# Ignore LSP cache
.ccls-cache/
compile_commands.json

# Ignore direnv directory
.direnv/

# Ignore build artifacts
build/

# Ignore commitlint executable
tools/commitlint*

# Ignore CForge artifacts
cforge.h
.cforge.db
.b

# Added by cargo
/target
